/**** BIBLIOTHÈQUES (dans le dossier bower_components) ****/
@import '../../node_modules/normalize-css/normalize';

@import '../../node_modules/susy/sass/susy';
@import '../../node_modules/susy/sass/plugins/svg-grid';

/**** utilitaires ****/
@import 'utilitaires/variables';
@import 'utilitaires/mixins';


/**** base (typo) ****/
@import 'base/typo';

/**** modules ****/
@import 'modules/animations';
@import 'modules/general';

/***** MISE EN PAGE SUSY ******/
@include border-box-sizing;

@media(max-width: 850px){
  $susy: (
          'columns': susy-repeat(4),
          'gutters': 0.20,
          'spread': 'narrow',
          'container-spread': 'wide',
  );
  .conteneur {
    //min-height: 100%;
    //min-width de 305 pour faire 320px avec les gutter
    min-width: 305px;
    padding: 0 gutter(4)/2;
    background: susy-svg-grid((
            'columns': susy-repeat(4),
            'gutters': 0.20,
            'spread': 'narrow',
            'container-spread': 'wide',
    )) no-repeat scroll;
  }
}
@media(min-width: 851px){
  $susy: (
          'columns': susy-repeat(12),
          'gutters': 0.16,
          'spread': 'narrow',
          'container-spread': 'narrow'
  );
  .conteneur {
    //min-height: 100%;
    max-width:1280px;
    margin: 0 auto;
    background: susy-svg-grid((
            'columns': susy-repeat(12),
            'gutters': 0.16,
            'spread': 'narrow',
            'container-spread': 'narrow'
    )) no-repeat scroll;
  }
}


/** Styles **/

html {
  //height: 100%;
}

body{
  //min-height: 100%;

  overflow-x: hidden;
  //position:relative;
}

.header{
  background-color: $noirFond;
  height: 75px;
}

.title{
  margin:0;
}

.pageAccueil {
  //min-height: 100%;
  //height:100%;
  overflow-x:hidden;
  font-family: $fonteBold;
  color: white;

  background: url('../images/bg_accueil_w800.jpg') no-repeat center center fixed;
  background-size: cover;

  @media(min-width: $tablettePaysage) {
    background: url('../images/bg_accueil_w1280.jpg') no-repeat center center fixed;
    background-size: cover;

  }
  @media(min-width: $desktop) {
    background: url('../images/bg_accueil_w2560.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

  .containerAccueil {
    //min-height:100%;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    
    @media (min-width: $tablettePortrait) {
      align-items:flex-end;
    }
    @media (min-width:$tablettePaysage){
      justify-content: space-around;
    }

    .titre {
      margin: 3rem 0 0 0;
      color: $noir;
      @include fontSize(26px);

      @media(min-width: $tablettePortrait) {
        @include fontSize(34px);
        width: span(3 of 4);
      }
      @media(min-width: $tablettePaysage) {
        @include fontSize(36px);
        width: span(6 of 12);
        //margin-right:span(1 wide of 12);
      }
      //@media(min-width: $desktop){
      //  width: span(5 of 12);
      //}

    }

    .introduction {
      display: block;
      line-height: 26px;
      background-color: $noir60;

      padding: 1rem 2rem;
      margin: 5rem -2rem;

      @include fontSize(16px);

      p{
        padding-right: 4rem;
        padding-left: 1rem;
        &:first-child{
          margin-bottom: 2rem;
        }
      }

      @media(min-width: $tablettePortrait) {
        width: span(3 of 4)+gutter()/2;
        padding-right: 2rem;
      }

      @media(min-width: $tablettePaysage){
        padding-right: span(1 of 12);
        margin:  5rem 0;
        width:span(6 of 12);
      }

      //@media(min-width: $desktop){
      //  width:span(5 of 12);
      //  padding-right:0;
      //  margin-right: span(1 wide of 12);
      //
      //}
    }
    .btnSoumettre{
      @media(min-width: $tablettePaysage){
        margin-right: span(1 wide of 12);
      }
    }
  }

.bg_quiz{
  background:url('../images/bg_quiz.jpg') no-repeat center center fixed;
  background-size:cover;
}
.pageQuiz{
  position:relative;
  font-family: $fonte;
  text-align: center;

  @media(min-width:$tablettePaysage){
    text-align:left;
  }

  .indicateurQuestion,
  .zonePointage{
    font-family: $fonteTitre;
    text-shadow: $ombre;
    @include fontSize(14px);
  }

  .indicateurQuestion{
    text-align:center;
  }

  .zonePointage{
    text-align: right;
    margin:auto 1rem;
  }

  .instructionQuestion{
    margin:0;
    text-shadow: $ombre;
  }

  .icone-pouch{
    display:inline-block;
    background: url('../images/icones/pouch_ico.svg') no-repeat;
    width:2.5rem;
  }

  fieldset{
    border:none;
    padding:0;
    margin:0;

    .flex{
      @media(min-width: $tablettePaysage){
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .flexitem{
          width:span(5 of 12);
        }
      }
    }
  }

  .question{
    font-family: $fonteBold;
    text-shadow: $ombre;

    @include fontSize(18px);

    @media(min-width: $mobile){
      @include fontSize(26px);
    }
    @media(min-width: $tablettePaysage){
      width:span(4 of 5);
    }
  }

  .q1{
    .imgQuestion{
      img{
        border:solid 2px $gris;
        width: span(4 of 4);

        @media(min-width: $tablettePortrait){
          width:span(2 of 4);
        }
        @media(min-width: $tablettePaysage){
          width:span(4 of 5);
        }
      }
    }
  }


  .choixReponses{
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: left;
    padding:0;

    @media(min-width:$tablettePaysage){
      display:block;
    }

    .choix {
      border: 2px solid $gris;
      background-color: $blancFond;
      margin-bottom: 0.5rem;
      width: span(4 of 4);

      @media(min-width:$tablettePortrait){
        width:span(2 wider of 4);
      }
      @media(min-width: $tablettePaysage){
        width:span(5 of 5);
      }

      &:hover{
        box-shadow: $ombreHover;
      }

      .label{
        display:inline-block;
        width:100%;
        padding: 20px 0;

        span{
          padding-left: span(1 of 4)+gutter();
        }
      }
      .input{
        @include visuallyhidden;
      }
    }
  }

  .reponse{

    @media(min-width: $tablettePaysage){
      width:span(5 of 12);
      margin-left: span(6 wide of 12);
    }

    .retroaction{
      margin-top:0;
    }
    .flex{
      display:block;
      @include fontSize(16px);
      text-align: center;
      @media(min-width:$tablettePortrait){
        display:flex;
        justify-content: center;
        margin:auto;
        width:span(3 of 4);
      }
      @media(min-width: $tablettePaysage){
        width:100%;
      }

      .explication{
        text-align: left;
        font-family: $fonteBold;
        text-shadow: $ombre;
        p{
          margin:0 0 1rem 0;
        }
        @media(min-width:$tablettePortrait){
          width:span(2 of 3);
        }
        @media(min-width: $tablettePaysage){

        }
      }

      .imgReponse{
        img{
          width:span(2 of 4);
          @media(min-width:$tablettePortrait){
            width:100%;
          }
        }
        @media(min-width:$tablettePortrait){
          width:span(1 of 3);
          margin-right:gutter();
        }
        @media(min-width: $tablettePaysage){
          width:span(2 of 5)
        }
      }
    }

    .btn_next,
    .btn_soumettre{
      margin-top:1.5rem;
      @media(min-width: $tablettePortrait){
        margin-left:span(2 wide of 4);
      }
      @media(min-width: $tablettePaysage){
        //margin-left:span(8 of 12)+gutter()/3;
        width:span(3 of 5);
        margin-left:span(2 wide of 5);
      }
    }
  }

}

.footer{
  display:block;
  width:100%;

  .creditPhoto{
    color: $blanc;
    a{
      text-decoration: none;
    }
    @include fontSize(10px);
    font-family: Cabin, Helvetica, sans-serif;
  }

  .fond{
    text-align: center;
    background-color: $noir;
    color: #B2B2B2;
    font-family: Cabin, Helvetica, sans-serif;
    padding:0.25rem;
    @include fontSize(12px);

    .attributions{
      display:block;
      color: #B2B2B2;
      font-family: Cabin, Helvetica, sans-serif;
      @include fontSize(10px);
    }
  }

}


//.pageAccueil{
//  .footer{
//    position: absolute;
//    bottom:0;
//  }
//}