/**** BIBLIOTHÈQUES (dans le dossier bower_components) ****/
@import '../../node_modules/normalize-css/normalize';

@import '../../node_modules/susy/sass/susy';
@import '../../node_modules/susy/sass/plugins/svg-grid';

/**** utilitaires ****/
@import 'utilitaires/variables';
@import 'utilitaires/mixins';


/**** base (typo) ****/
@import 'base/typo';

/***** MISE EN PAGE SUSY ******/
@include border-box-sizing;

@media(max-width: 850px){
  $susy: (
          'columns': susy-repeat(4),
          'gutters': 0.20,
          'spread': 'narrow',
          'container-spread': 'wide',
  );
  .conteneur {
    //height:100%;
    //overflow-x: hidden;
    //overflow-y: hidden;
    //min-width de 305 pour faire 320px avec les gutter
    min-width: 305px;
    padding: 0 gutter(4)/2;
    //background: susy-svg-grid((
    //        'columns': susy-repeat(4),
    //        'gutters': 0.20,
    //        'spread': 'narrow',
    //        'container-spread': 'wide',
    //)) no-repeat scroll;
  }
}
@media(min-width: 851px){
  $susy: (
          'columns': susy-repeat(12),
          'gutters': 0.16,
          'spread': 'narrow',
          'container-spread': 'narrow'
  );
  .conteneur {
    //overflow-x: hidden;
    //overflow-y: hidden;
    //height:100%;
    max-width:1280px;
    margin: 0 auto;
    //background: susy-svg-grid((
    //        'columns': susy-repeat(12),
    //        'gutters': 0.16,
    //        'spread': 'narrow',
    //        'container-spread': 'narrow'
    //)) no-repeat scroll;
  }
}

/**** modules ****/
@import 'modules/animations';
@import 'modules/general';
@import 'modules/accueil';
@import 'modules/quiz';
@import 'modules/resultats';


/** Styles **/


/** ENTÊTE **/


label{
  border: 2px solid $gris;
}
input[type="radio"]:checked~label{
  border: 2px solid $blanc;
  box-shadow: $ombreHover;
}

.header{
  display:inline-block;
  background-color: $noirFond;
  width:100%;

  /* Conteneur titre */
  .titre{
    display:flex;
    justify-content: space-between;
    @media(min-width: $mobile){
      justify-content: flex-start;
    }
    @media(min-width:$tablettePaysage){
      display:flex;
      justify-content: space-between;
      //margin-left:span(1 wide of 12);
      width:span(6 of 12);
    }

    /* Icone Triforce */
    .icones{
      display:flex;
      justify-content: center;
      align-items: center;
      width:span(1 of 4);
      @media(min-width: $mobile){
        width:auto;
      }
      @media(min-width: $tablettePaysage){
        justify-content: flex-end;
        width:span(1 of 6);
      }

      .icone-logo{
        display:inline-block;
        width:5.4rem;
        height:4.6rem;
        background:url('../images/icones/triforce_ico.svg') no-repeat;
        background-size:contain;
      }
    }

    /* The Legend of Zelda */
    .title{
      display:inline-block;
      @include fontSize(16px);
      width:span(3 of 4);
      margin:0.6rem 0;

      @media(min-width: $mobile){
        width:auto;
        @include fontSize(20px);
        margin-left:1rem;
      }
      @media(min-width: $tablettePaysage){
        width:span(5 of 6);
        margin:1rem 0;
      }
    }
  }
}

/** FOOTER **/
.footer {
  position: absolute;
  bottom: 0;
  right:0;
  left:0;
  width: 100%;
  small{
    display:block;
  }

  .creditPhoto {
    color: $blanc;
    a {
      color: $blanc;
    }
    @include fontSize(12px);
    font-family: Cabin, Helvetica, sans-serif;
  }

  .fond {
    text-align: center;
    background-color: $noir;
    color: #B2B2B2;
    font-family: Cabin, Helvetica, sans-serif;
    padding: 0.25rem;
    @include fontSize(12px);

    .attributions {
      display: block;
      color: #B2B2B2;
      font-family: Cabin, Helvetica, sans-serif;
      @include fontSize(10px);
    }
  }
}

