# fichiers cachés ou temporaires de Mac OS
.DS_Store
~*
Icon?

# dossier de réglages de PHPStorm
.idea/

bower_components/
node_modules/
# AJOUTER des exceptions pour les bibliothèques JavaScript:1
!node_modules/axios/
node_modules/requirejs/
!node_modules/picturefill/

# AJOUTs reliés à la pile Heroku / Composer / PHP
vendor/
.env

# dossier de cache de sass
.sass-cache/

# dossier compilé par sass
assets/css/

