/**
 * --------------------------------------------------------
 * TABLE DES MATIÈRES -
 * --------------------------------------------------------
 * STYLES GÉNÉRAUX
 ** Arrière-plan
 */

/* STYLES GÉNÉRAUX */
html{
  height: 100%;
  overflow-x: hidden;
}
body{
  min-height: 100%;
  position:relative;
  overflow:hidden;
}

.titre{
  margin:0;
  font-family: $fonteTitre;
  color:$blanc;
  text-decoration: none;
  text-shadow: $ombre;

  .zelda{
    color:$rouge;
    display:block;
  }
}

.bouton{
  display:block;

  background-color: $noirFond;
  border: 1px solid $blanc;

  color: $blanc;
  font-family: $fonteTitre;
  text-decoration:none;
  text-align: center;
  padding:14px 0;
  @include fontSize(16px);

  cursor:pointer;

  width:span(4 of 4);

  @media(min-width: $tablettePortrait){
    width:span(2 of 4);
  }
  @media(min-width: $tablettePaysage){
    width:span(3 of 12);
  }

  transition:all, 200ms ease;

  &:hover,
  &:focus{
    @include hover;
    outline:none;
    box-shadow: 0 0 0.3rem $blanc;
  }

}

.hover{
  @include hover;
  background-color: $blancFond;
}

img{
  width:100%;
}

